<%= render 'layouts/jsmap' %>

<div class="container">
  <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @route.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @route.rating %>
</p>

<p>
  <strong>User:</strong>
  <%= @route.user %>
  <!-- why doesn't this work -->
  <%= @route.bars.to_a.each { |x| x.name } %>
</p>



<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
</div>
