<!DOCTYPE html>
<html>
    <head>
        <title>Route-Beer</title>
        <%= csrf_meta_tags %>

        <!-- Materialize Template -->
        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <!--  Scripts-->
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= include_gon %>
    </head>

    <body>
      <%= render 'layouts/nav' %>
        <%= yield %>
      <%= render 'layouts/footer' %>
    </body>
</html>
